<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style types='text/css'>
            .error {
                color: red;
                font-style:italic;
            }
            h1{
                text-align:center
            }
            li{
                font-size:24px

            }
            p{
                font-size:24px

            }
        </style>
    </head>
<body>

    <div>
        <a href='/blog'>Main Blog Page</a>
        <a href='/newpost'>Add a Blog Entry</a>
    </div>


    {% block content %}
    {% endblock %}

</body>
</html>