{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>
        <ul>
            {% for blog in blogs: %}
            <li>
                <h3><a href='/blog?blog_id={{blog.id}}'>{{blog.title}}</a></h3>
                <p>{{blog.body}}</p>
                {% for user in users: %}
                    {% if user.id==blog.owner_id %}
                    <em>written by <a href='/blog?user_id={{user.id}}'>{{user.username}}</a></em>
                    {% endif %}
                {% endfor %}
            </li>
            {% endfor %}
        </ul>
{% endblock %}